<section id="section-Reisen-Mobile">
    <!-- <h1 class="vereinsname">Unsere Reisen</h1> -->
    <div class="timeline-carousel__item-wrapper" data-js="timeline-carousel">
        <!--Timeline item-->
        <% for (reise of reisen) { %>
        <div class="timeline-carousel__item">
            <div class="reise-content" style="background: url(<%=reise.thumbnail%>);">
                <div class="reiseInfo">
                    <span class="reiseDestination"><%= reise.city %> - <%= reise.country %></span>
                    <span class="reiseJahr"><%= reise.year %></span>
                </div>
                <p class="reiseDescription">
                    <%= reise.description%>
                    <a href="#" class="reiseReadMore">Mehr dazu</a>
                </p>
            </div>
        </div>
        <% } %>
</section>