<%- include("partials/header") %>


<section id="section-hero">
    <%- include("partials/hero") %>
</section>


<section id="section-Verein">
    <%- include("partials/verein") %>
</section>


<section id="section-Mitglieder">
    <%- include("partials/members") %>
</section>


<section id="section-Reisen">
    <%- include("partials/reisen") %>
</section>


<%- include("partials/footer") %>